html, body {
  height: 100%;
  background-color: #F0F0F0;
}
body {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.42857143;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  background: #7f00ff; /* For browsers that do not support gradients */
  //background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.76), rgba(255, 234, 0, 0.82))
	background: linear-gradient(265deg, #ff9966, #7f00ff, #bc00d5, #396afc, #c6426e, #000000);
	background-size: 1200% 1200%;

	-webkit-animation: CreativeCollider 59s ease infinite;
	-moz-animation: CreativeCollider 59s ease infinite;
	-o-animation: CreativeCollider 59s ease infinite;
	animation: CreativeCollider 59s ease infinite;

	@-webkit-keyframes CreativeCollider {
			0%{background-position:7% 0%}
			50%{background-position:94% 100%}
			100%{background-position:7% 0%}
	}
	@-moz-keyframes CreativeCollider {
			0%{background-position:7% 0%}
			50%{background-position:94% 100%}
			100%{background-position:7% 0%}
	}
	@-o-keyframes CreativeCollider {
			0%{background-position:7% 0%}
			50%{background-position:94% 100%}
			100%{background-position:7% 0%}
	}
	@keyframes CreativeCollider { 
			0%{background-position:7% 0%}
			50%{background-position:94% 100%}
			100%{background-position:7% 0%}
	}
}

h1, h2 {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.form-control, .form-control:focus {
  border: none;
  box-shadow: none;
}

.help-block {
  color: white !important;
  text-align: center;
}

a {
  color: #fff;
  border-bottom: 1px dotted #fff;
  text-decoration: none;
  &:active, &:hover {
    color: #fff;
    border-bottom: solid 1px #fff;
    text-decoration: none;
  }
  &:visited {
    color: #fff;
    border-bottom: 1px dotted #fff;
  }
}

h4 {
  font-style: italic;
  text-transform: lowercase;
  text-align: center;
  color: #fff;
  font-weight: 100;
}

.cc-description-list-container {
  text-align: left;
}

.btn-cc {
  background-color: rgba(255, 255, 255, 0.23);
  border-color: #transparent !important;
  border-radius: 0 !important;
  color: #fff;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  &:hover, &:active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.42);
    border-color: transparent !important;
  }
}

#app-creativecollider{
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-height: 550px;
  position: relative;
  text-align: center;
	@media (max-width: 767px) {
		min-height: 1px;
		padding: 10px 0;
	}
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}


@media (min-width: 768px) {

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}


@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}


/* Padding for spacing */
.inner {
  padding: 30px;
}

.header {
  display: table-row;
  height: 1px;
}

.logoContainer {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  svg {
    fill: #fff;
  }
}

.embed-responsive-margin{
  margin: 16px 0;
}
.align-left{
  text-align: left;
}
.pt-50{
  padding-top: 50px;
}
.pt-25{
  padding-top: 25px;
}
.pd-16{
  padding: 16px;
}
.main {
  height: 100%;
  display: table;
  width: 100%;
  position: relative;
}
.footer {
  display: table-row;
  height: 1px;
}
.vertical-middle {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}
.card-wrapper {
  margin: 0;
  padding: 5px;
  background: transparent;
  border: 1px dotted #fff;
}
.live{
  &-container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 16px;
		@media (max-width: 1169px) {
			width: 100%;
			padding: 0;
      padding-top: 20px;
		}
  }
  &-wrapper{
/*     background-image: url('../img/ex.svg');
    background-repeat: no-repeat;
    background-size: 76px;
    background-position: center; */
  }
  &-wrapper, &-controls{
    position: relative;
		text-align: center;
    &:before, &:after{
      display: table;
      content: " ";
    }
    &:after{
      clear: both;
    }
  }
  
  &-controls{
    padding-top: 64px;
		@media (max-width: 767px) {
			padding-top: 20px;
		}
  }
  &-controls-item{
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    background-image: url('../img/prev.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 16px;
    cursor: pointer;
    transition: transform ease-out 0.25s;
    &:hover{
      -webkit-transform: scale(0.95, 0.95);
      -ms-transform: scale(0.95, 0.95);
      transform: scale(0.95, 0.95);
    }
    &:active{
      -webkit-transform: scale(0.90, 0.90);
      -ms-transform: scale(0.90, 0.90);
      transform: scale(0.90, 0.90);
    }
    &.play{
      background-image: url('../img/play.svg');
    }
    &.pause{
      background-image: url('../img/pause.svg');
    }
    &.next{
      background-image: url('../img/next.svg');
    }
		@media (max-width: 767px) {
			width: 50px;
			height: 50px;
		}
  }
	&-columnName{
		position: absolute;
		top: -29px;
		left: 0;
		font-weight: bold;
		width: 100%;
	}
  &-content{
		width: 40%;
		margin: 20px;
		display: inline-block;
    min-height: 185px;
		vertical-align: top;
    //border: 5px solid #fff;
		position: relative;
		@media (max-width: 767px) {
			min-height: 120px;
			margin: 20px 10px;
		}
		&:nth-child(1):nth-last-child(2),
		&:nth-child(2):nth-last-child(1) {
			@media (max-width: 767px) {
				width: 90%;
			}
		}
    &.image{
      border: 0;
      position: relative;
    }
    &.text{
      background: transparent;
    }
    &.video{
      position: relative;
			iframe{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 0;
			}
    }
    &-img {
      background-color: #fff;
      p {
        margin: 0 !important;
      }
    }
    &-img img{
      border: 5px solid #fff;
      height: auto;
      width: auto;
      max-height: 100%;
      max-width: 100%;
      //position: absolute;
      //top: 0;
      //left: 0;
      //bottom: 0;
      //right: 0;
      margin: auto;
      display: inline-block;
      padding: 0;
    }
		&-img-alt-text{
			position: absolute;
			top: -20px;
			font-style: italic;
			left: 0;
			font-size: 13px;
		}
		&-table{
			display: table;
			width: 100%;
			min-height: 185px;
			overflow: hidden;
			position: relative;
			height: 100%;
			padding: 0;
			@media (max-width: 767px) {
				min-height: 120px;
			}
		}
    &-text{
      display: table-cell;
      vertical-align: middle;
      font-size: 25px;
      font-family: 'Roboto Slab', serif;
      text-transform: uppercase;
      font-weight: 700;
      color: #333333;
      background-color: rgba(255, 255, 255, 0.88);
      padding: 4px;
			a{
				font-size: 25px;
				color: #333333;
				text-decoration: underline;
			}
			@media (max-width: 767px) {
				font-size: 18px;
				padding: 4px;
			}
    }
    &-content-wrapper {
      background: transparent !important;
    }
  }
}
