html, body {
  height: 100%;
  background-color: #F0F0F0; }

body {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.42857143;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  background: #7f00ff;
  /* For browsers that do not support gradients */
  background: linear-gradient(265deg, #ff9966, #7f00ff, #bc00d5, #396afc, #c6426e, #000000);
  background-size: 1200% 1200%;
  animation: CreativeCollider 59s ease infinite; }

@keyframes CreativeCollider {
  0% {
    background-position: 7% 0%; }
  50% {
    background-position: 94% 100%; }
  100% {
    background-position: 7% 0%; } }

h1, h2 {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }

.form-control:focus {
  border: none;
  box-shadow: none; }

.help-block {
  color: white !important;
  text-align: center; }

h4 {
  font-style: italic;
  text-transform: lowercase;
  text-align: center;
  color: #fff;
  font-weight: 100; }

.btn-cc {
  background-color: rgba(255, 255, 255, 0.23);
  border-color: #transparent !important;
  border-radius: 0 !important;
  color: #fff;
  transition: background-color 1000ms linear; }
  .btn-cc:hover, .btn-cc:active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.42);
    border-color: #transparent !important; }

#app-creativecollider {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-height: 550px;
  position: relative;
  text-align: center; }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%; }

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle; }

.cover-container {
  margin-right: auto;
  margin-left: auto;
  padding: 20px; }

/* Padding for spacing */
.inner {
  padding: 30px; }

.header {
  display: table-row;
  height: 1px; }

.logoContainer {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px; }
  .logoContainer svg {
    fill: #fff; }

.embed-responsive-margin {
  margin: 16px 0; }

.align-left {
  text-align: left; }

.pt-50 {
  padding-top: 50px; }

.pd-16 {
  padding: 16px; }

.main {
  height: 100%;
  display: table;
  width: 100%;
  position: relative; }

.footer {
  display: table-row;
  height: 1px; }

.vertical-middle {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 16px; }

.card-wrapper {
  margin: 0;
  padding: 5px;
  background: transparent;
  border: 1px dotted #fff; }

.live-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 16px; }

.live-wrapper {
  /*     background-image: url('../img/ex.svg');
    background-repeat: no-repeat;
    background-size: 76px;
    background-position: center; */ }

.live-wrapper, .live-controls {
  position: relative;
  text-align: center; }
  .live-wrapper:before, .live-wrapper:after, .live-controls:before, .live-controls:after {
    display: table;
    content: " "; }
  .live-wrapper:after, .live-controls:after {
    clear: both; }

.live-controls {
  padding-top: 64px; }

.live-controls-item {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  background-image: url("../img/prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 16px;
  cursor: pointer;
  transition: transform ease-out 0.25s; }
  .live-controls-item:hover {
    -ms-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95); }
  .live-controls-item:active {
    -ms-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9); }
  .live-controls-item.play {
    background-image: url("../img/play.svg"); }
  .live-controls-item.pause {
    background-image: url("../img/pause.svg"); }
  .live-controls-item.next {
    background-image: url("../img/next.svg"); }

.live-columnName {
  position: absolute;
  top: -29px;
  left: 0;
  font-weight: bold;
  width: 100%; }

.live-content {
  width: 40%;
  margin: 20px;
  display: inline-block;
  min-height: 185px;
  vertical-align: top;
  position: relative; }
  .live-content.image {
    border: 0;
    position: relative; }
  .live-content.text {
    background: transparent; }
  .live-content.video {
    position: relative; }
    .live-content.video iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0; }
  .live-content-img {
    background-color: #fff; }
    .live-content-img p {
      margin: 0 !important; }
  .live-content-img img {
    border: 5px solid #fff;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: inline-block;
    padding: 0; }
  .live-content-img-alt-text {
    position: absolute;
    top: -20px;
    font-style: italic;
    left: 0;
    font-size: 13px; }
  .live-content-table {
    display: table;
    width: 100%;
    min-height: 185px;
    overflow: hidden;
    position: relative;
    height: 100%;
    padding: 0; }
  .live-content-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.88);
    padding: 4px; }
    .live-content-text a {
      font-size: 25px;
      color: #333333;
      text-decoration: underline; }
  .live-content-content-wrapper {
    background: transparent !important; }
  @media (max-width: 767px) {

  #app-creativecollider {
    min-height: 1px;
    padding: 10px 0; }

  .live-controls {
    padding-top: 20px; }

  .live-controls-item {
    width: 50px;
    height: 50px; }

  .live-content {
    min-height: 120px;
    margin: 20px 10px; }

  .live-content:nth-child(1):nth-last-child(2), .live-content:nth-child(2):nth-last-child(1) {
    width: 90%; }

  .live-content-table {
    min-height: 120px; }

  .live-content-text {
    font-size: 18px;
    padding: 4px; } }
  @media (min-width: 768px) {
  /* Start the vertical centering */

  .site-wrapper-inner {
    vertical-align: middle; }

  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */ } }
  @media (min-width: 992px) {

  .cover-container {
    width: 700px; } }
  @media (max-width: 1169px) {

  .live-container {
    width: 100%;
    padding: 0; } }

/*# sourceMappingURL=styles.css.map */
