html, body {
  height: 100%;
  background-color: #F0F0F0; }

body {
  color: #333333;
  font-size: 16px;
  line-height: 1.42857143;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

#app-creativecollider {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-height: 550px;
  position: relative;
  text-align: center; }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%; }

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle; }

.cover-container {
  margin-right: auto;
  margin-left: auto; }

/* Padding for spacing */
.inner {
  padding: 30px; }

.header {
  display: table-row;
  height: 1px; }
  .header-logo {
    height: 60px;
    width: auto;
    margin: 16px; }

.embed-responsive-margin {
  margin: 16px 0; }

.align-left {
  text-align: left; }

.pt-50 {
  padding-top: 50px; }

.pd-16 {
  padding: 16px; }

.main {
  height: 100%;
  display: table;
  width: 100%;
  position: relative; }

.footer {
  display: table-row;
  height: 1px; }

.vertical-middle {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 16px; }

.live-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 16px; }

.live-wrapper {
  /*     background-image: url('../img/ex.svg');
    background-repeat: no-repeat;
    background-size: 76px;
    background-position: center; */ }

.live-wrapper, .live-controls {
  position: relative;
  text-align: center; }
  .live-wrapper:before, .live-wrapper:after, .live-controls:before, .live-controls:after {
    display: table;
    content: " "; }
  .live-wrapper:after, .live-controls:after {
    clear: both; }

.live-controls {
  padding-top: 64px; }

.live-controls-item {
  display: inline-block;
  vertical-align: middle;
  width: 76px;
  height: 76px;
  background-image: url("../img/prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 16px;
  cursor: pointer;
  transition: transform ease-out 0.25s; }
  .live-controls-item:hover {
    -ms-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95); }
  .live-controls-item:active {
    -ms-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9); }
  .live-controls-item.play {
    background-image: url("../img/play.svg"); }
  .live-controls-item.pause {
    background-image: url("../img/pause.svg"); }
  .live-controls-item.next {
    background-image: url("../img/next.svg"); }

.live-columnName {
  position: absolute;
  top: -29px;
  left: 0;
  font-weight: bold;
  width: 100%; }

.live-content {
  width: 40%;
  margin: 20px;
  display: inline-block;
  min-height: 300px;
  vertical-align: top;
  border: 5px solid #000000;
  position: relative; }
  .live-content.image {
    border: 0;
    position: relative; }
  .live-content.text {
    background: #ffffff; }
  .live-content.video {
    background: #ffffff;
    position: relative; }
    .live-content.video iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0; }
  .live-content-img {
    border: 5px solid #000000;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    padding: 0; }
  .live-content-table {
    display: table;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    height: 100%;
    padding: 0; }
  .live-content-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    color: #333333; }
  @media (max-width: 767px) {

  #app-creativecollider {
    min-height: 1px;
    padding: 10px 0; }

  .live-controls {
    padding-top: 20px; }

  .live-controls-item {
    width: 50px;
    height: 50px; }

  .live-content {
    min-height: 120px;
    margin: 20px 10px; }

  .live-content:nth-child(1):nth-last-child(2), .live-content:nth-child(2):nth-last-child(1) {
    width: 90%; }

  .live-content-table {
    min-height: 120px; }

  .live-content-text {
    font-size: 18px;
    padding: 4px; } }
  @media (min-width: 768px) {

  /* Start the vertical centering */

  .site-wrapper-inner {
    vertical-align: middle; }

  .cover-container {
    width: 100%;

    /* Must be percentage or pixels for horizontal alignment */ } }
  @media (min-width: 992px) {

  .cover-container {
    width: 700px; } }
  @media (max-width: 1169px) {

  .live-container {
    width: 100%;
    padding: 0; } }
